#history ul.events {
	list-style-type: none;
	margin: 0;
	padding: 0 0 20px 0;
}
#history ul.events li {
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	background: #ffffbb;
	border: 2px solid #ddd;
	color: #202020;
	font-size: 0.9em;
	font-weight: normal;
	margin-bottom: 6px;
	padding: 3px 0;
	position: relative;
	text-align: center;
}
#history ul.events li em {
	color: #404040;
	font-weight: bold;
	font-size: 0.5em;
}
#history ul.intervals {
	list-style-type: none;
	padding: 0;
	display: block;
}
/* The width depends on the number of intervals. For example 100 / 7 = 14.29% -- then subtract a little bit for room for the borders */
#history ul.intervals li {
	background: #000 url(../img/1x1_eee.gif) repeat-x left 10%;
	border-right: 1px solid #ccc;
	color: #FFF;
	float: left;
	font-size: 0.7em;
	margin: 0;
	padding: 15px 0;
	text-align: center;
	width: 12.3%;
}
#history ul.intervals li.first {
	border-left: 1px solid #ccc;
}
